html {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.container {
  margin: auto;
  display: flex;
  height: inherit;
  flex-wrap: wrap;
  max-width: 722px;
  border: 1px solid gray;
}
